# Application Configuration
NODE_ENV=development
API_PORT=3000

#Ports
DEBUG_PORT=9229
HOST_PORT_ADMINER=8080
HOST_PORT_DB=3306

# Database Configuration
MYSQL_HOST=db
MYSQL_DATABASE=api
MYSQL_USER=root
MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql-root
