# Application Configuration
NODE_ENV=development
API_PORT=3000

#Ports
DEBUG_PORT=9229
HOST_PORT_ADMINER=8080
HOST_PORT_DB=

# Database Configuration
MYSQL_DATABASE=api
MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql-root